.Profile_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.tweet-box{
    padding-bottom: 10px;
    border-bottom: 9px solid var(--twitter-background);
    
}


.tweet-box > form{
    display: flex;
    flex-direction: column;
}

.tweet__input{
    padding: 20px;
    display: flex;
    
}

.tweetbox_input > input{
    width: 300px;
    flex: 1;
    color: var(--twitter-background);
    margin-left: 20px;
    font-size: 20px;
    border: none;
}


.tweet-btn{
    background: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important ;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 80% !important;
  
}

.tweetbox_input >input{
    
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
      
}

.Input__url{
    width: 200px;
    /* padding-top: 20px; */
    /* padding: 20px; */
    border: none;

}

.everyone-btn{
    width: 200px;
    border: none;
    border-radius: 50px;
    margin-left: 30px;
    background-color: transparent;
    color:#A6D8F9;
    font-weight: 700;
    font-size: 16px;
    
}
/*
.tweets_send{
    display: flex;
    border: none;
    margin-right: 20px;
} */
