.sidebar{
    flex: 0.2;
    border-right: 1px solid var(--twitter-color);
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
        
}

.twitter__icon{
    color:var(--twitter-color);
    margin-left: 20px;

}

.sidebar-btn{
   background-color : var(--twitter-color);
   width: 180px;
   height: 40px;
   border: none;
   border-radius: 20px;
   margin-top: 20px;
}
