
.sidebaroption{
    padding-top: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 14px;
    left: -250px;
}

.sidebaroption :hover{
    background-color: #4aebe3;
    color: (--twitter-color);
}

.sidebaroption > h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebaroption > .MuiSvgIcon-root{
    margin-right: 20px;
}

.sidebaroption--active{
    color: (--twitter-color);
}


.sidebar-btn{
    background-color: #1D9BF0
}


